<form method="post" action="{{ path('app_notice_delete', {'id': notice.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette annonce?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ notice.id) }}">
    <button class="btn btn-warning mt-4">Supprimer</button>
</form>
