{% extends 'base.html.twig' %}

{% block title %}Ajout annonce{% endblock %}

{% block body %}
    <h1 class="text-center mt-4">Ajout d'une annonce</h1>

    <div class="container">
        {{ include('notice/_form.html.twig') }}
    
        <a href="{{ path('app_notice_index') }}" class="btn btn-primary mt-4">back to list</a>
    </div>

{% endblock %}
